extends ./component/layout

block content
  body
    .toolbar
      h3 Click file name to download
    .file-table
      .title-row.no-touch
        .name Name
        .size Size
        .date Date Modified
      if upperDir
        a.return(href=upperDir) ..
      each directory in directories
        a.directory(href=`${directory.name}/`)
          .name #{directory.name}
          .size #{directory.size}
          .date #{directory.lastModify}
      each file in files
        a.file(href=`${file.name}`)
          .name #{file.name}
          .size #{file.size}
          .date #{file.lastModify}